<% cache @chapter do %>
  <div class="chapter">
    <div class="chapter-rendered">
      <% if @chapter.vimeo_id.present? %>
        <div class="sticky-video">
          <div class="embed-container">
            <iframe src="https://player.vimeo.com/video/<%= @chapter.vimeo_id %>" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          </div>
        </div>

      <% end %>

      <% 
        doc = Kramdown::Document.new(
          @chapter.content,
          auto_ids: true,
          hard_wrap: false,
          input: "GFM",
        )
      %>
      
      <p class="text-muted small font-italic">
        <% last_updated = @chapter.updated_at %>

        Last updated: <%= last_updated.in_time_zone("Central Time (US & Canada)").strftime("%A, %B #{@chapter.updated_at.day.ordinalize}, %Y at %l:%M%P") %>
      </p>

      <%= doc.to_draft_html.html_safe %>
    </div>
  </div>
<% end %>