<% cache @chapter do %>
  <div class="chapter">
    <div class="chapter-rendered">
      <p class="text-muted font-italic">Last updated: <%= time_ago_in_words @chapter.updated_at %> ago</p>

      <% if @chapter.vimeo_id.present? %>
        <div class="sticky-video">
          <div class="embed-container">
            <iframe src="https://player.vimeo.com/video/<%= @chapter.vimeo_id %>" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          </div>
        </div>

      <% end %>

      <% 
        doc = Kramdown::Document.new(
          @chapter.content,
          auto_ids: true,
          hard_wrap: false,
          input: "GFM",
        )
      %>
      
      <%= doc.to_draft_html.html_safe %>
    </div>
  </div>
<% end %>